.profile img {
    height: 7vh;
}

.author img {
    height: 8vh;
}

.icon img {
    height: 3vh;
}

.main img {
    height: 100%;

}

.gray {
    color: gray;
}

.blog {
    height: 40vh;
}

a:hover {
    color: rgba(255, 0, 0, 0.545);


}



.nav-link:hover {
    color: rgba(255, 0, 0, 0.545);
    text-decoration: underline;
}